@model CUS03V1.Models.TPuntaje

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TPuntaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpPuntaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpPuntaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpNumeroJurado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpNumeroJurado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIumtCod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIumtCod.FkIumtCodPart)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIpCodP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
